

  <app-yatzeecard-component (click)="CallAlert()"></app-yatzeecard-component>
  <app-yatzeecard-component (click)="CallAlert()"></app-yatzeecard-component>
  <app-yatzeecard-component (click)="CallAlert()"></app-yatzeecard-component>
  <app-yatzeecard-component (click)="CallAlert()"></app-yatzeecard-component>
  <app-yatzeecard-component (click)="CallAlert()"></app-yatzeecard-component>
  <app-yatzeecard-component (click)="CallAlert()"></app-yatzeecard-component>
  <app-yatzeecard-component (click)="CallAlert()"></app-yatzeecard-component>
  <app-yatzeecard-component (click)="CallAlert()"></app-yatzeecard-component>
  <app-yatzeecard-component (click)="CallAlert()"></app-yatzeecard-component>
  <app-yatzeecard-component (click)="CallAlert()"></app-yatzeecard-component>
  <app-yatzeecard-component (click)="CallAlert()"></app-yatzeecard-component>
  <app-yatzeecard-component (click)="CallAlert()"></app-yatzeecard-component>